* {

    margin: 0;
    font-family: Verdana, sans-serif;
    text-decoration: none;
    color: black;

}

#navbar {

    padding-top: 15px;
    padding-left: calc(50% - 160px);
    height: 40px;
    width: 100vw;
    display: flex;
    position: fixed;

    z-index: 20;

    background-color: white;

    filter: drop-shadow(0px 0px 5px black);

}

.navbar_item {

    margin-left: 20px;
    font-size: 20px;

}

#home {

    text-underline: black;
    text-decoration: underline;

}

#langSelectImg {

    width: 26px;
    position: absolute;
    margin-left: 100px;

    pointer-events: fill;

}

#langDropDown {

    width: 5vw;
    background-color: white;
    filter: drop-shadow(0px 0px 2px black);
    opacity: 0;
    pointer-events: none;

    position: absolute;

    margin-top: 25px;
    margin-left: 5vw;

    padding: 0 0 7px 7px;
    border-radius: 10px;

}

.lang {
    margin-top: 5px;
}

.translatable {

}

#body {
    position: absolute;
    margin-top: 40px;
    display: grid;
    justify-content: center;
    width: 100%;
}

#title_p1 {

    text-align: center;
    font-weight: bold;
    font-size: 20px;

    margin-top: 50px;
    margin-bottom: 30px;

}

.text {

    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 5px;

}

.nenenetable {

    margin-top: 10px;
    margin-bottom: 10px;

    filter: drop-shadow(0px 0px 2px black);
    background-color: white;

    border-radius: 10px;

    padding: 10px;

    margin-bottom: 50px;

}

.nenenetablebody {

    padding: 10px;

}

.tbentry {

    display: block;
    background-color: lightgray;
    padding: 5px;

    border-radius: 5px;

}

#contact-text {
    font-weight: bold;
}
#contact-text a {
    font-weight: normal;
}

#insta-text {
    font-weight: bold;
}
#insta-text a {
    font-weight: normal;
}

#title_p2 {

    margin-top: 50px;

    text-align: center;
    font-size: 20px;
    font-weight: bold;
    
    margin-bottom: 50px;

}

#staff_table {

    background-color: white;
    filter: drop-shadow(0px 0px 5px black);
    border-radius: 10px;

    padding: 10px;

    margin-bottom: 50px;

}

#staff_table tbody tr {

}

td {

    background-color: lightgray;

}

#topleft {
    border-top-left-radius: 5px;
}

#topright {
    border-top-right-radius: 5px;
}

#bottomleft {
    border-bottom-left-radius: 5px;
}

#bottomright {
    border-bottom-right-radius: 5px;
}

#footer {
    position: absolute;
    height: 200px;
    width: 100%;
    background-color: hsl(120, 100%, 7%);
    margin-top: 1300px;
    margin-bottom: 0;
}

#footer img {
    margin-left: calc(50% - 25px);
    margin-top: 35px;
    width: 50px;
}

#footer_nav {
    margin-top: 30px;
    text-align: center;
}

#footer_nav a {
    color: white;
    margin: 5px;
}

#footer_copyright {
    margin-top: 30px;
    text-align: center;
}
#footer_copyright a {
    color: white;
}
#footer_copyright p {
    color: white;
}